.chart > div {
       width: 812px !important;
}

#maindiv {
    width: 1000px;
    padding: 25px;
    margin: 25px;
}

p,dd,li,table {
  font: 400 14px/1.5 'Montserrat', Times, serif;
}

.panel-heading {
  font: 400 14px/1.5 'Montserrat', Times, serif;
}

dt, h2, h3 {
  font: 100 16px/1.5 'Nunito', Times, serif;
}